{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        <!-- you can do fun things like inline style with properties of your rendered object -->
        <!-- <article style="background-color:{{fruit.color}}"> -->
        <article>
            <h2>
                {{ fruit.name }} - 
                {% if fruit.readyToEat %}
                    Ready to Eat
                {% else %}
                    Not Ready to Eat
                {%endif%}
            </h2>
            <h3>{{ fruit.color }}</h3>
            <div class="btn-group">

                <a href="/fruits/{{ fruit.id }}/edit" class="btn btn-primary">Edit</a>
                <form action="/fruits/{{ fruit._id }}?_method=DELETE" method="POST">
                    <input type="submit" value="delete that froot" class="btn btn-danger">
                </form>
            </div>
        </article>
    </div>
{% endblock %}